optional=false
ignore-optional=true
omit=optional
prefer-offline=true
fund=false
audit=false
progress=false
loglevel=error
legacy-peer-deps=false
platform=linux
arch=x64
target-platform=linux
target-arch=x64 